/* 
 * 
 * $Entry
 *
**/

.entry {
    float: left;
    width: 100%;

    h3 {
        @include font-body;
        @include type-medium;
        text-transform: none;
        font-weight: $fw-bold;
    }

    h2 { @include type-xlarge; }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom:$ms-4;
    }
}
