/* 
 * 
 * $Hero
 *
**/

.hero {
    position: absolute;
    bottom:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    // scroll-behavior: smooth; // js handles this 
    @include clearfix();

    @include breakpoint(bp4){
        float: right;
        top:0;
        bottom:auto;
        left:auto;
        right: 0;
        width:50%;
        min-height: 800px;
        z-index: 3;
    }
}


$hero_height: 1000px;

.hero__inner {
    position: relative;
    display: block;
    width: 100%;
    height: $hero_height;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(#{$base-image-url}/misc/mountain.jpg);  
    overflow: hidden;
    // scroll-behavior: smooth; // js handles this 

    @include breakpoint(bp1){
        $hero_height: 2000px;
        height: $hero_height;
    }    
    @include breakpoint(bp4){
        $hero_height: 3000px;
        height: $hero_height;
    }    
}


.hero__junction {
    position: absolute;
    right:0;
    display: block;
    width: 10px;
    height: 2px;

    $hero_height: 1000px;
    &.hero__junction-q1 { bottom:$hero_height/4; }
    &.hero__junction-q2 { bottom:$hero_height/2.4; }
    &.hero__junction-q3 { bottom:$hero_height/1.6; }
    &.hero__junction-q4 { bottom:$hero_height / 1.2; }
    
    @include breakpoint(bp1){
        $hero_height: 2000px;
        &.hero__junction-q1 { bottom:$hero_height/4; }
        &.hero__junction-q2 { bottom:$hero_height/2.4; }
        &.hero__junction-q3 { bottom:$hero_height/1.6; }
        &.hero__junction-q4 { bottom:$hero_height / 1.2; }
    }
    @include breakpoint(bp3){
        $hero_height: 3000px;
        &.hero__junction-q1 { bottom:$hero_height/15; }
        &.hero__junction-q2 { bottom:$hero_height/2.05; }
        &.hero__junction-q3 { bottom:$hero_height/1.5; }
        &.hero__junction-q4 { bottom:$hero_height / 1.2; }        
    }
}



.navigator {
    position: absolute;
    bottom:100px;
    left:50%;   
    transform: translateX(-50%);
    width: auto;
    height: 700px;
    z-index: 2;

    @include breakpoint(bp1){
        bottom:200px; 
        height: 1400px;
    }
    @include breakpoint(bp3){
        bottom:350px;
        height: 1975px;
    }
}


.navigator__target {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    width:50px;
    height:50px;
    border:2px solid $brand1;
    @include font-tungsten-semi;
    font-weight: $fw-bold;
    @include type-xlarge;
    @include border-radius(100%);
    z-index: 1;

    @include breakpoint(bp1){
        width:80px;
        height:80px;
        font-size:$ms3;
    }
    @include breakpoint(bp4){
        width:160px;
        height:160px;
        padding-top: 12px;
        font-size: $ms8 + 1.6em;
    }
}
.navigator__target.q1 { background-color: $brand4; }
.navigator__target.q2 { background-color: $brand6; }
.navigator__target.q3 { background-color: $brand8; }
.navigator__target.q4 { background-color: $brand10; }


.navigator__text {
    @include font-tungsten-semi;
    fill: $brand1; 
    font-size:8em;
    
    @include breakpoint(bp3){
        font-size:6.2em;
    }
}


.navigator__nav {
    display: block;
    cursor: pointer;
}