/* 
 * 
 * $LinkBlocks
 *
**/

.link-blocks {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin:0;
    padding:0;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;

    &.active {
        display: flex;
    }

    @include breakpoint(bp2){
        justify-content: space-between;
        align-items: stretch;
    }
}


.link-block {
    float: left;
    width: 100%;
    margin-bottom: $ms-4;
    background-color: $brand5;
    cursor: pointer;

    &:last-child { margin-bottom: 0; }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding:$ms-5 $ms-4;
        margin-bottom: 0;
        @include font-tungsten;
        @include type-medium;
        line-height: $ms0;
        text-transform: uppercase;
    }

    span {
        clear: both;
        display: block;
        width: 100%;
    }

    @include breakpoint(bp2){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49%;
        margin-bottom: $ms-2;
        @include transition();

        &:nth-child(3),
        &:last-child { margin-bottom: 0; }

        &:hover {
            background-color: darken($brand4,7%);
            @include transition();
        }

        a {
            padding:$ms0;
            flex-flow: row wrap;
            font-size: $ms1;
            text-align: center;
        }
    }
    @include breakpoint(bp3){
        a {
            font-size: $ms0;
        }
    }
    @include breakpoint(bp4){
        height: 48%;
    }
    @include breakpoint(bp5){       
        a {
            font-size: $ms1 + .1em;
            line-height: 1;
        }      
    }
    @include breakpoint(bp7){
        a {
            font-size: $ms1 + .3em;
            line-height: 1;
        }      
    }
}
.section--q1 {
    .link-block {
        background-color: $brand5;
    }
} 
.section--q2 {
    .link-block {
        background-color: $brand7;
    }
} 
.section--q3 {
    .link-block {
        background-color: $brand9;
    }
} 
.section--q4 {
    .link-block {
        background-color: $brand11;
    }
} 


// Icon Images
.link-block__icon {
    display: block;
    width: 54px;
    height: auto;
    margin-right: $ms-4;

    @include breakpoint(bp2){
        width: 70px;
        margin:0 auto;
    }
    @include breakpoint(bp5){
        width: 84px;
    }
    @include breakpoint(bp7){
        width: 120px;
    }
}