/* 
 * 
 * $SiteOverlay
 *
**/

.overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$brand2;
    z-index:4;
}


.overlay__brand {
  position:absolute;
  top:50%;
  left:50%;
  width:200px;
  height:auto;
  transform:translate( -50%, -50% );
  opacity:0;    
  animation:pulse ease-in-out infinite;
  animation-duration:2.8s;
  
  @include breakpoint(bp3){
    width:260px;
  }
  @include breakpoint(bp5){
    width:300px;
  }
}

@keyframes pulse { 
    0% { opacity:0; } 
    50% { opacity: 1 }
    100% { opacity: 0 }
} 