/* 
 * 
 * $Tabs
 *
**/

.tabs {
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    list-style-type: none;

    > li {
        float: left;
        margin:0;

        > a {
            display: block;
            padding:0;
            margin-bottom: 0;
            opacity: 0.5;
            cursor: pointer;
        }

        &.active {
            > a,
            > a:hover,
            > a:focus {
                opacity: 1;
                cursor: default;
            }
        }
    }

    @include breakpoint(bp2){
        flex-flow: row wrap;
        align-self: flex-end;
        height:86%;
        margin-bottom: $ms-6;
    }     
}

.section--q1 {
    .tabs { background-color: darken($brand5,7%); }

    .tab-content {
        &::-webkit-scrollbar-track { background: darken($brand5,7%); }
    }
}
.section--q2 {
    .tabs { background-color: darken($brand7,7%); }
    
    .tab-content {
        &::-webkit-scrollbar-track { background: darken($brand7,7%); } 
    }    
}
.section--q3 { 
    .tabs { background-color: darken($brand9,7%); } 

    .tab-content {
        &::-webkit-scrollbar-track { background: darken($brand9,7%); }
    }

}
.section--q4 { 
    .tabs { background-color: darken($brand11,7%); } 

    .tab-content {
        &::-webkit-scrollbar-track { background: darken($brand11,7%); }
    }    
}


.tab-content {
    float: left;
    width: 100%;
    padding-right:$ms-2;
    height: 172px;
    overflow: auto;

    > .tab-pane {
        display: none;

        &.active {
            display: block;
        }
    }

    > .active {
        display: block;
    } 

    &::-webkit-scrollbar { width: 15px; }   
    &::-webkit-scrollbar-thumb { background: $brand1; }
    &::-webkit-scrollbar-thumb:hover { background: #555; }   

    @include breakpoint(bp2){
        width:auto;
        height: 100%;
        margin-left: $ms-1;
        padding-right: $ms2;
    }  
}


.tabs__icon {
    display: block;
    width: 50px;
    height: auto;
}