/* 
 * 
 * $Colours
 *
**/

// White
$white: #fff;

// Blues
$navy: #01527f;
$dark-navy: #004868;

// Greens
$aquamarine: #00a090;
$aqua: #00aa95;
$purple-blue: #235ba6;
$soft-blue: #3774b7;

// Pinks
$dark-pink: #bf338a;
$bubblegum: #cc449e;

// Redds
$united-red: #e32213;
$pale-red: #f44138;

/*
 * Brand Colours
*/

$brand1: $white;
$brand2: $navy;
$brand3: $dark-navy;
$brand4: $aquamarine;
$brand5: $aqua;
$brand6: $purple-blue;
$brand7: $soft-blue;
$brand8: $dark-pink;
$brand9: $bubblegum;
$brand10: $united-red;
$brand11: $pale-red;

