/* 
 * 
 * $Reset
 *
**/

html, body {
    margin: 0;
    padding: 0;
}

// Disable iOS/WinMobile font size changes
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
    .page {
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}


/*Image Border removal*/
img, a img { border:none; }


/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}