/* 
 * 
 * $Buttons
 *
**/

.button {
    position: relative;
    clear:both;
    float:left;
    width:100%;
    padding-top:$ms-2;
    padding-bottom:$ms-2;
    margin-bottom:0;
    @include font-body;
    font-weight:$fw-bold;
    line-height:1;
    letter-spacing:.05em;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    cursor:pointer;
    outline:0;
    border:0;
    overflow: hidden;
    box-sizing: border-box;
    @include border-radius($curve);
    @include transition();

    @include breakpoint(bp3){
        &:hover {
            text-decoration:none;
            @include transition();
        }
    }

    &:active,
    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    } 

    @include breakpoint(bp6){
        padding-top:$ms-2;
        padding-bottom:$ms-2;
    }
}