/*
 *
 * $Forms - Base form styles
 *
**/

$form-input-bg: transparent;
$form-input-text: $brand1;

form {
	float:left;
	width:100%;
}

label {
	float:left;
	width:100%;
	margin-bottom:$ms-4;
    @include font-body;
    @include type-medium;
    text-transform: uppercase;
    font-weight: $fw-bold;
    color:$brand1;

	@include breakpoint(bp1){
		margin-bottom:$ms-8;
	    @include type-small;
	}
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea {
	float:left;
	width:100%;
	padding:$ms-3;    
	margin-bottom:0;
	@include font-body;
    @include type-small;
    line-height:1;
	color:$form-input-text;
	background-color:$form-input-bg; 
	border:1px solid $brand1;
	-webkit-input-appearance:none;
    @include border-radius($curve);
    @include transition();  
	outline:none;
	
	&::-webkit-input-placeholder { color:$brand2; }
	&:-ms-input-placeholder { color:$brand2; }
	&::-moz-placeholder { color:$brand2; }
    &:-moz-placeholder { color:$brand2; }
    
    // Reset Webkit autofill colour
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px $brand1 inset !important;
    }    

	&:focus { 
        outline:none;
        border-color:$brand1;
        @include transition();
	}

	@include breakpoint(bp1){
		padding:$ms-4 $ms-3;
	}
}

textarea {
    padding:$ms-2;
	height:200px;
}