/* 
 * 
 * $Icons
 *
**/

.icon {
    display:inline-block;

    &:before {
        display:block;
        content: '';
    }
}


// Arrows
.icon--chevron-up {
    &:before {
        @include sprite(chevron-up);
    } 
}
.icon--chevron-down {
    &:before {
        @include sprite(chevron-down);
    } 
}


// Section icons
.icon--tent {
    &:before {
        @include sprite(tent);
    } 
}
.icon--cup {
    &:before {
        @include sprite(cup);
    } 
}
.icon--mountain {
    &:before {
        @include sprite(mountain);
    } 
}
.icon--chart {
    &:before {
        @include sprite(chart);
    } 
}


.icon--x {
    &:before {
        @include sprite(x);
    } 
}
