/*
 * $Svgsprite
 *
 * Auto create a sprite for svgs using gulp.
 */

$icons: (
      sprite: (width: 543px, height: 239px, pngPath: '../images/pngs/sprite.png', svgPath: '../images/svgs/sprite.svg'),
     chart: (width: 37.29px, height: 29.98px, backgroundX: 0px, backgroundY: 0px),
     chevron-down: (width: 55.29px, height: 28.35px, backgroundX: -38px, backgroundY: -30px),
     chevron-up: (width: 55.29px, height: 28.35px, backgroundX: -94px, backgroundY: -59px),
     cup: (width: 30.87px, height: 33.81px, backgroundX: -150px, backgroundY: -88px),
     mountain: (width: 34.74px, height: 34.27px, backgroundX: -181px, backgroundY: -122px),
     target-lines: (width: 270.84px, height: 30.4px, backgroundX: -216px, backgroundY: -157px),
     tent: (width: 36.42px, height: 31.62px, backgroundX: -487px, backgroundY: -188px),
     x: (width: 18.52px, height: 18.52px, backgroundX: -524px, backgroundY: -220px),
)