/* 
 * 
 * $Header
 *
**/

.site-header {
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100%;
    background-color: $brand2;
    z-index:3;

    @include breakpoint(bp4){
        width: 50%;
        height:50vh;
        min-height: 400px;
	}
}


.site-header__inner {
    display: block;
    width:100%;
    padding:$ms0;

    @include breakpoint(bp5){
        padding:$ms0 $ms4;
	}    
}



/*Site Logo*/
.logo-brand {
    float:right;
    width: 100px;
    height: auto;
    margin-top: $ms-2;
    margin-bottom: $ms-2;

    @include breakpoint(bp3){
        margin-top:$ms2;
        width: 160px;
	}    
    @include breakpoint(bp5){
        margin-top:$ms3;
        width: 190px;
    }    
    @include breakpoint(bp7){
        width: 240px;
    }    
}


// Slogan
.logo-slogan {
    float: left;
    width: 110px;
    height: auto;
    margin-bottom: $ms-2;

    @include breakpoint(bp3){
        width: 200px;
	}      
    @include breakpoint(bp5){
        width: 240px;
        margin-bottom: $ms0;
    }    
    @include breakpoint(bp7){
        width: 270px;
        margin-bottom: $ms4;
    }        
}


.intro {
    clear: both;
    display: block;
    width: 100%;
    max-width: 446px;

    @include breakpoint(bp7){
        max-width: 540px;
    }    

    p {
        font-size: $ms-3;
        line-height: $ms0 + .1em;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include breakpoint(bp1){
            @include type-xsmall;
        }
        @include breakpoint(bp2){
            @include type-small;
        }
        @include breakpoint(bp7){
            @include type-medium;
        }
    }
}