/* 
 * 
 * $Nav
 *
**/

.nav {
    display: block;
    width: 100%;
    padding:$ms-4;
    background-color: $brand3;
    align-items: center;

    @include breakpoint(bp2){
        padding-left: $ms2;
        padding-right: $ms2;    
    }
    @include breakpoint(bp4){
        position: absolute;
        bottom:0;
        left:0;
    }
}


.nav__title {
    display: none;
    margin-bottom: 0;
    @include font-tungsten;
    @include type-large;
    text-transform: uppercase;

    @include breakpoint(bp2){
        float: left;
        display: block;
        padding-top: $ms-2 + .1em;
        @include type-xlarge;
    }
    @include breakpoint(bp3){
        padding-top: $ms-5 + .1em;
    }
    @include breakpoint(bp4){
        display: none;
    }
    @include breakpoint(bp5){
        display: block;
    }
}


.nav__items {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin:0;
    padding:0;

    @include breakpoint(bp2){
        display: inline-flex;
        width: 70%;
        margin-left: $ms0;
    }
    @include breakpoint(bp4){
        width:100%;
        margin-left: auto;
    }
    @include breakpoint(bp5){
        width: 66%;
        margin-left: $ms0;
    }
    @include breakpoint(bp6){
        width: 70%;
    }
}


.nav__item {
    position: relative;
    display: inline-block;
    margin:0;
    overflow: visible;
    padding:0 $ms-4;
    background-color: $brand3;
    z-index:1;   

    @include breakpoint(bp1){
        padding-left: $ms0;
        padding-right: $ms0;
    }
    @include breakpoint(bp3){
        padding-left: $ms-4;
        padding-right: $ms-4;
    }

    &:last-child {
        &:after { display: none; }
    }

    a {
        display: block;
        padding:8px 0 4px;
        margin-bottom: 0;
        width:36px;            
        height:36px;
        @include font-tungsten-semi;
        @include type-xlarge;
        font-weight: $fw-bold;
        border:1px solid $brand1;
        text-align: center;
        @include border-radius(100%);
        cursor: pointer;

        @include breakpoint(bp1){
            width: 48px;
            height: 48px;
            padding:14px 0 4px;
            @include type-giga;
        }
        @include breakpoint(bp3){
            width: 54px;
            height: 54px;
            line-height: .67;
            @include transition();
        }
    } 
}
.nav__item--q1 {
    a {
        &.active {
            background-color: $brand4;
            border-color:$brand4; 
        }

        @include breakpoint(bp3){
            &:hover {
                background-color: $brand4;
                border-color:$brand4; 
                @include transition();
            }    
        }
    }
}
.nav__item--q2 {
    a {
        &.active {
            background-color: $brand6;
            border-color:$brand6; 
        }

        @include breakpoint(bp3){
            &:hover {
                background-color: $brand6;
                border-color:$brand6; 
            }    
        }
    }
}
.nav__item--q3 {
    a {
        &.active {
            background-color: $brand8;
            border-color:$brand8; 
        }

        @include breakpoint(bp3){
            &:hover {
                background-color: $brand8;
                border-color:$brand8; 
            }    
        }
    }
}
.nav__item--q4 {
    a {
        &.active {
            background-color: $brand10;
            border-color:$brand10; 
        }

        @include breakpoint(bp3){
            &:hover {
                background-color: $brand10;
                border-color:$brand10; 
            }    
        }
    }
}


// Nav item dividing line
.nav__item-breaker {
    display: inline-block;
    width:200px;
    height:2px;
    background-color: $brand1;
    margin-bottom: 0;

    &:last-child {
        display: none;
    }
}