/* 
 * 
 * $Section
 *
**/

.section-container {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:300px;

    @include breakpoint(bp2){
        height:335px;
    }
    @include breakpoint(bp4){
        width: 50%;
        height:50vh;
        min-height: 400px;
	}    
}


.section {
	float:left;
    width:100%;
    height: 100%;
    padding:$ms-4;

    &.active {
        display: block !important;
    }
    
    @include breakpoint(bp2) {
        padding:$ms-2;
    }
    @include breakpoint(bp4) {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        padding:$ms0;
    }
}
.section--q1 { background-color: darken($brand4,7%); }
.section--q2 { background-color: $brand6; }
.section--q3 { background-color: $brand8; }
.section--q4 { background-color: $brand10; }


// Place over content to restrict use of section
// (if section is turned off for example)
.section__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;    
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;

    &:before {
        position: absolute;
        display: block;
        content:'';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: 1;
    }

    p {
        position: absolute;
        top:45%;
        left:0;
        display: block;
        width: 100%;
        transform: translateY(-50%);
        @include rotate(-10deg);
        margin-bottom: 0;
        @include font-tungsten;
        font-size: $ms6 + .2em;
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
    }
}
.section--q1 .section__overlay:before { background-color: lighten($brand4,10%); }
.section--q2 .section__overlay:before { background-color: lighten($brand6, 10%); }
.section--q3 .section__overlay:before { background-color: lighten($brand8, 10%); }
.section--q4 .section__overlay:before { background-color: lighten($brand10, 10%); }


.section__content {
    display: none;
    width: 100%;
    height:100%;
    flex-flow: row wrap;
    padding:$ms-4;
    background-color: $brand5;
    overflow: hidden;

    &.active {
        display: flex !important;
    }
    
    @include breakpoint(bp2){
        flex-flow: row nowrap;
        justify-content: space-between;
        padding:$ms0;
    }
}
.section--q1 .section__content { background-color: $brand5; }
.section--q2 .section__content { background-color: $brand7; }
.section--q3 .section__content { background-color: $brand9; }
.section--q4 .section__content { background-color: $brand11; }


.section__nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: $ms-4;

    @include breakpoint(bp2){
        flex-flow: row wrap;
        justify-content: center;
        width:64px;
        height: 96%;
        margin-bottom: 0;
    }
}


// Tab close button
.section__nav__close {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 0 0 0 $ms-4;
    padding:$ms-1;
    background-color: lighten($brand5, 10%);
    cursor: pointer;

    .icon { font-size:20px; }

    @include breakpoint(bp2){
        align-self: flex-start;
        width: 64px;
        margin:0;
    }
}

.section--q1 .section__nav__close { background-color: lighten($brand5,10%); }
.section--q2 .section__nav__close { background-color: lighten($brand7,10%); }
.section--q3 .section__nav__close { background-color: lighten($brand9,10%); }
.section--q4 .section__nav__close { background-color: lighten($brand11,10%); }