/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

/* ==============
 * Containers
 * =============*/

 html,
 body {
     height: 100%;
    //  scroll-behavior: smooth;
 }

/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color:$brand2;
}


.site-wrapper {
    position: relative;
    display: block;
    height:100vh;
    min-height: 700px;
}


.main {
    position: absolute;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    z-index:3;

    @include breakpoint(bp4){
        min-height: 800px;
    }
}


.hidden-desktop { display:block; }
.hidden-mobile { display:none; }

@include breakpoint(bp2){
	.hidden-desktop { display:none; }
	.hidden-mobile { display:block; }
}


// Media
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}